.onsale .regular-price {
  font-size: 27px;
  text-decoration: line-through;
  font-weight: 600;
}

.regular-price {
  font-size: 27px;
  font-weight: 600;
}

.onsale .sales-price {
  font-size: 32px;
  font-weight: 600;
  margin-left: 7px;
  color: green;
}

.onsale .sales-price,
.regular-price,
.onsale .regular-price {
  font-family: "Gotu", sans-serif;
}

h5.card-title.product-title a {
  font-family: "Gotu", sans-serif;
  color: #1f1f1f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.25s;
}

h5.card-title.product-title a:hover {
  text-decoration: none;
  color: #ff8a00;
}

.product-description {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
