.catalog-display .price-onsale-regular {
  font-family: "Gotu", sans-serif;
  font-size: 25px;
  margin-right: 10px;
  text-decoration: line-through;
}
.catalog-display .price-onsale-sale {
  font-family: "Gotu", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #008000;
}
.catalog-display .price-regular {
  font-family: "Gotu", sans-serif;
  font-size: 25px;
}

h5.card-title.product-title a {
  font-family: "Gotu", sans-serif;
  color: #1f1f1f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.25s;
}

h5.card-title.product-title a:hover {
  text-decoration: none;
  color: #ff8a00;
}

.product-description {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
